# Create config.yml from this file and update with correct values
jira: updateme
zapi: https://prod-api.zephyr4jiracloud.com/connect
zapi_version: /public/rest/api/1.0
login: updateme # Jira login
access_key: updateme # Go to Jira > Tests > API Keys > Access Key
secret_key: updateme # Go to Jira > Tests > API Keys > Secret Key
project_id: updateme # ID of Your project
version_id: updateme # ID of version of test cycles
